.ModaleContainer{
    display: flex;
    justify-content: center;
    justify-items: center;
    position: absolute;
    right: 30%;
    top: 45%;
    width: 40%;
    border-radius: 8px;
}
.GreyBackgroung{
    background-color: azure;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
}
.CloseButton{
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: transparent;
}
.MyModale{
    position: relative;
    padding: 20px;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: white;
    width: 100%;
}
.CloseIcon{
    width: 40px;
    height: 40px;
}
.TextOfModal{
    font-weight: bold;
    padding: 8px;
    font-size: 24px 
}
.LinkOfModal{
    display: flex;
    justify-content: center;
    color:rgb(5 150 105);
    font-weight: 800;
    padding: 10px 0px;
    font-size: 18px;
}
